<!-- Table Section -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto -mt-4">
  <!-- Card -->
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div
          class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700"
        >
          <!-- Header -->
          <div
            class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700"
          >
            <div>
              <h2
                class="text-xl font-semibold text-gray-800 dark:text-gray-200"
              >
                {{ products[0].category.name }}
              </h2>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                Products of {{ products[0].category.name }}.
              </p>
            </div>

            <div>
              <div class="inline-flex gap-x-2">
                <a
                  class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  href="/products"
                >
                  View all
                </a>

                <a
                  class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  href="/addProduct"
                >
                  <svg
                    class="flex-shrink-0 w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M5 12h14" />
                    <path d="M12 5v14" />
                  </svg>
                  Create
                </a>
              </div>
            </div>
          </div>
          <!-- End Header -->

          <!-- Table -->
          <table
            class="min-w-full divide-y divide-gray-200 dark:divide-gray-700"
          >
            <thead
              class="bg-gray-50 divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
            >
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-start border-s border-gray-200 dark:border-gray-700"
                >
                  <span
                    class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                  >
                    Name
                  </span>
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <span
                    class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                  >
                    Price
                  </span>
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <span
                    class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                  >
                    quantity
                  </span>
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <span
                    class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                  >
                    actions
                  </span>
                </th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
              @for (item of products; track $index){
              <tr>
                <td class="h-px w-auto whitespace-nowrap">
                  <div class="px-6 py-2">
                    <span class="text-sm text-gray-800 dark:text-gray-200">{{
                      item.lib
                    }}</span>
                  </div>
                </td>
                <td class="h-px w-auto whitespace-nowrap">
                  <div class="px-6 py-2">
                    <span class="text-sm text-gray-800 dark:text-gray-200">{{
                      item.price
                    }}</span>
                  </div>
                </td>
                <td class="h-px w-auto whitespace-nowrap">
                  <div class="px-6 py-2">
                    <span class="text-sm text-gray-800 dark:text-gray-200">{{
                      item.qte
                    }}</span>
                  </div>
                </td>
                <td class="h-px w-px whitespace-nowrap align-top">
                  <div class="block p-6 flex items-center gap-x-4">
                    <div class="hs-tooltip inline-block [--trigger:hover]">
                      <button
                        type="button"
                        class="hs-tooltip-toggle flex justify-center items-center h-10 w-10 text-sm font-semibold rounded-lg border border-gray-200 bg-red-500 text-red-800 shadow-sm hover:bg-red-50 disabled:pointer-events-none bright:bg-slate-900 dark:border-red-700 bright:text-white dark:hover:bg-red-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      >
                        <a href="/addProduct">
                          <img src="../../assets/trash-2.svg" alt="" />
                        </a>
                        <span
                          class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-3 px-4 bg-white border text-sm text-gray-600 rounded-lg shadow-md dark:bg-gray-900 dark:border-gray-700 dark:text-gray-400"
                          role="tooltip"
                        >
                          Delete Product
                        </span>
                      </button>
                    </div>

                    <div class="hs-tooltip inline-block [--trigger:hover]">
                      <button
                        type="button"
                        class="hs-tooltip-toggle flex justify-center items-center h-10 w-10 text-sm font-semibold rounded-lg border border-gray-200 bg-yellow-500 text-yellow-800 shadow-sm hover:bg-red-50 disabled:pointer-events-none bright:bg-slate-900 dark:border-yellow-700 bright:text-white dark:hover:bg-yellow-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      >
                        <a href="/addProduct">
                          <img src="../../assets/edit.svg" alt="" />
                        </a>
                        <span
                          class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-3 px-4 bg-white border text-sm text-gray-600 rounded-lg shadow-md dark:bg-gray-900 dark:border-gray-700 dark:text-gray-400"
                          role="tooltip"
                        >
                          Edit Product
                        </span>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
          <!-- End Table -->

          <!-- Footer -->
          <div
            class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-gray-700"
          >
            <div>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                <span class="font-semibold text-gray-800 dark:text-gray-200">{{
                  count
                }}</span>
                results
              </p>
            </div>

            <div>
              <div class="inline-flex gap-x-2"></div>
            </div>
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Table Section -->
