<div class="flex justify-evenly gap-10 m-10">
  <div class="max-w-[300px]">
    @for(item of categories; track $index){
    <div
      class="dark:bg-gray-800 p-4 mb-2 rounded-md text-center col-span-1 text-white cursor-pointer w-52"
      (click)="selectedCategoryFunction(item.id_category)"
    >
      {{ item.name }}
    </div>
    }
  </div>
  @if(display){
  <div class="w-full h-full cursor-default">
    <div
      class="max-h-[500px] overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-slate-700 dark:[&::-webkit-scrollbar-thumb]:bg-slate-500 cursor-default"
    >
      <div
        class="p-4 mb-2 rounded-md text-left col-span-1 text-white cursor-pointer -mt-14 cursor-default"
      >
        <app-personal-products></app-personal-products>
      </div>
    </div>
  </div>
  }
</div>
