<div
  class="max-h-[530px] overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-slate-700 dark:[&::-webkit-scrollbar-thumb]:bg-slate-500 mt-12"
>
  <!-- Table Section -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Card -->
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div
            class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700"
          >
            <!-- Header -->
            <div
              class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700"
            >
              <div class="sm:col-span-2 md:grow">
                <div class="flex justify-end gap-x-2">
                  <span
                    class="m-1 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-red-500 text-red-500"
                  >
                    <svg
                      class="flex-shrink-0 w-5 h-5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
                      />
                      <polyline points="9 22 9 12 15 12 15 22" />
                    </svg>
                  </span>
                  <button
                    type="button"
                    class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none bright:hover:bg-blue-900 bright:text-blue-400 bright:focus:outline-none bright:focus:ring-1 bright:focus:ring-gray-600"
                    (click)="goToAddProduct()"
                  >
                    Add Product
                  </button>

                  <button
                    type="button"
                    class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-teal-100 text-teal-800 hover:bg-teal-200 disabled:opacity-50 disabled:pointer-events-none bright:hover:bg-teal-900 bright:text-teal-500 bright:hover:text-teal-400 bright:focus:outline-none bright:focus:ring-1 bright:focus:ring-gray-600"
                  >
                    Button
                  </button>
                </div>
              </div>
            </div>
            <!-- End Header -->

            <!-- Table -->
            <table
              class="min-w-full divide-y divide-gray-200 dark:divide-gray-700"
            >
              <thead class="bg-gray-50 dark:bg-slate-800">
                <tr>
                  <th scope="col" class="px-6 py-3 text-start">
                    <div class="flex items-center gap-x-2">
                      <span
                        class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                      >
                        Product
                      </span>
                    </div>
                  </th>

                  <th scope="col" class="px-6 py-3 text-start">
                    <div class="flex items-center gap-x-2">
                      <span
                        class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                      >
                        Category
                      </span>
                    </div>
                  </th>

                  <th scope="col" class="px-6 py-3 text-start">
                    <div class="flex items-center gap-x-2">
                      <span
                        class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                      >
                        Price
                      </span>
                    </div>
                  </th>

                  <th scope="col" class="px-6 py-3 text-start">
                    <div class="flex items-center gap-x-2">
                      <span
                        class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                      >
                        Quantity
                      </span>
                    </div>
                  </th>

                  <th scope="col" class="px-6 py-3 text-start">
                    <div class="flex items-center gap-x-2">
                      <span
                        class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                      >
                        Status
                      </span>
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                @if(products.length === 0){
                <tr>
                  <td
                    class="px-6 py-3 text-sm font-medium text-gray-800 dark:text-gray-200"
                    colspan="5"
                    style="text-align: center"
                  >
                    No products found.
                  </td>
                </tr>
                } @else { @for (item of products; track $index){

                <tr
                  class="bg-white hover:bg-gray-50 dark:bg-slate-900 dark:hover:bg-slate-800"
                >
                  <td class="h-px w-px whitespace-nowrap align-top">
                    <div class="block p-6">
                      <div class="flex items-center gap-x-4">
                        <div>
                          <span
                            class="block text-sm font-semibold text-gray-800 dark:text-gray-200"
                            >{{ item.lib }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="h-px w-px whitespace-nowrap align-top">
                    <div class="block p-6">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span
                            class="block text-sm font-semibold text-gray-800 dark:text-gray-200"
                            >{{ item.category.name }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="h-px w-px whitespace-nowrap align-top">
                    <div class="block p-6">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span
                            class="block text-sm font-semibold text-gray-800 dark:text-gray-200"
                            >{{ item.price | number : "0.3-3" }} TDN
                          </span>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="h-px w-px whitespace-nowrap align-top">
                    <div class="block p-6">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span
                            class="block text-sm font-semibold text-gray-800 dark:text-gray-200"
                            >{{ item.qte }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                  @if(item.qte == 0){
                  <td class="h-px w-px whitespace-nowrap align-top">
                    <a class="block p-6">
                      <span
                        class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-red-100 text-red-800 rounded-full dark:bg-red-500/10 dark:text-red-500"
                      >
                        <svg
                          class="w-2.5 h-2.5"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
                          />
                        </svg>
                        Out Of Stock
                      </span>
                    </a>
                  </td>
                  } @else if(item.qte > 0 && item.qte < 10) {
                  <td class="h-px w-px whitespace-nowrap align-top">
                    <a class="block p-6">
                      <span
                        class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-yellow-100 text-yellow-800 rounded-full dark:bg-yellow-500/10 dark:text-yellow-500"
                      >
                        <svg
                          class="w-2.5 h-2.5"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                          />
                        </svg>
                        Limited Stock
                      </span>
                    </a>
                  </td>
                  } @else {
                  <td class="h-px w-px whitespace-nowrap align-top">
                    <a class="block p-6">
                      <span
                        class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-teal-100 text-teal-800 rounded-full dark:bg-teal-500/10 dark:text-teal-500"
                      >
                        <svg
                          class="w-2.5 h-2.5"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                          />
                        </svg>
                        In Stock
                      </span>
                    </a>
                  </td>
                  }
                </tr>
                } }
              </tbody>
            </table>
            <!-- End Table -->

            <!-- Footer -->
            <div
              class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-gray-700"
            >
              <div>
                <div class="inline-flex gap-x-2"></div>
              </div>
            </div>
            <!-- End Footer -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Table Section -->
</div>
